
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  th {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #f2f2f2;
    color: rgb(21, 25, 43);
    font-weight: bolder;
  }
  .remove-icon {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
  }
  label {
    display: block;
    width: 100%;
    margin: 10px 0 5px 0;
  }
  input[type="text"],
  input[type="number"] {
    width: 98%;
    padding: 8px;
  }
  button,
  select {
    width: 100%;
    padding: 8px;
  }
  button {
    margin-top: 30px;
  }
  .total-balance {
    margin-top: 20px;
    text-align: right;
  }

  #transactionTable, #transactionForm, #totalBalance {
    max-width: 42%;
  }