label {
    display: block;
    font-weight: bolder;
    margin: 10px 0 10px 0;
}

input[type="text"],
textarea {
    width: 90%;
    padding: 8px;
}

button {
    padding: 8px;
    width: 93%;
    margin: 8px 0 0 0;
}

.recipe-container {
    width: 90%;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0 0 0;
}

#recipeForm {
    max-width: 42%;
}

@media screen and (max-width: 850px) {
    main {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
    }

    section {
        width: 90%;
    }

    input[type="text"],
    textarea {
        width: 90%;
        padding: 8px;
    }

    button {
        padding: 8px;
        width: 95%;
        margin: 8px 0 0 0;
    }

    .recipe-container {
        width: 90%;
        border: 1px solid #ccc;
        margin: 20px 0 0 -5%;
    }

    #recipeList {
        width: 90%;
        margin: 0;
        padding: 0;
    }
}